<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <link href="{% static 'css/search.css' %}" rel="stylesheet">&lt;!&ndash;<load register.css  to this file  >&ndash;&gt;-->

<!--</head>-->
<!--<body>-->
<!--    <div class="search-container">-->
<!--    <form action="/action_page.php">-->
<!--        {% csrf_token %}-->

<!--      <input type="text" placeholder="Search.." name="search">-->
<!--      <button type="submit">Submit</button>-->
<!--    </form>-->
<!--  </div>-->
<!--</body>-->
<!--</html>-->